In [239]:
import pandas as pd

### Алгоритм действий:
#### 1. подгружаем данные - оставляем только те, что нужны
#### 2. проверяем пропуски (если > 80% пропущено, то нецелесообразно анализировать)
#### 3. базовые статистики
#### 4. проверяем корректность заполненных данных (если значения должны быть, например 1 и 2, то скорректировать все остальные)
#### 5. проверить выбросы по всем стобцам - удалить или изменить?
#### 6. заполнить пропуски

# 1. подгружаем данные - оставляем только те, что нужны

In [240]:
URL = 'C:/Users/vokea/OneDrive/Рабочий стол/Mishin/Новая папка/horse_data.csv'
df = pd.read_csv(URL, sep=',', 
	    names=['surgery?', 'Age', 'Hospital Number', 'rectal temperature', 'pulse', 'respiratory rate', 
               'temperature of extremities', 'peripheral pulse', 'mucous membranes', 'capillary refill time', 'pain', 
               'peristalsis', 'abdominal distension', 'nasogastric tube', 'nasogastric reflux', 'nasogastric reflux PH', 
               'rectal examination - feces', 'abdomen', 'packed cell volume', 'total protein', 'abdominocentesis appearance', 
               'abdomcentesis total protein', 'outcome', 'surgical lesion?', 'type of lesion_1', 'type of lesion_2', 
               'type of lesion_3', 'cp_data'], na_values='?')

df.head(2)

,surgery?,Age,Hospital Number,rectal temperature,pulse,respiratory rate,temperature of extremities,peripheral pulse,mucous membranes,capillary refill time,...,packed cell volume,total protein,abdominocentesis appearance,abdomcentesis total protein,outcome,surgical lesion?,type of lesion_1,type of lesion_2,type of lesion_3,cp_data
0,2.0,1,530101,38.5,66.0,28.0,3.0,3.0,NaN,2.0,...,45.0,8.4,NaN,NaN,2.0,2,11300,0,0,2
1,1.0,1,534817,39.2,88.0,20.0,NaN,NaN,4.0,1.0,...,50.0,85.0,2.0,2.0,3.0,2,2208,0,0,2

In [241]:
del df['Hospital Number']
del df['peripheral pulse']
del df['mucous membranes']
del df['capillary refill time']
del df['peristalsis']
del df['abdominal distension']
del df['nasogastric tube']
del df['nasogastric reflux']
del df['nasogastric reflux PH']
del df['rectal examination - feces']
del df['abdomen']
del df['packed cell volume']
del df['total protein']
del df['abdominocentesis appearance']
del df['abdomcentesis total protein']
del df['surgical lesion?']
del df['type of lesion_1']
del df['type of lesion_2']
del df['type of lesion_3']
del df['cp_data']

In [242]:
df.head(2)

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
0,2.0,1,38.5,66.0,28.0,3.0,5.0,2.0
1,1.0,1,39.2,88.0,20.0,NaN,3.0,3.0

# 2. проверяем пропуски (если > 80% пропущено, то нецелесообразно анализировать)

In [243]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery?                    299 non-null    float64
 1   Age                         300 non-null    int64
 2   rectal temperature          240 non-null    float64
 3   pulse                       276 non-null    float64
 4   respiratory rate            242 non-null    float64
 5   temperature of extremities  244 non-null    float64
 6   pain                        245 non-null    float64
 7   outcome                     299 non-null    float64
dtypes: float64(7), int64(1)
memory usage: 18.9 KB

In [244]:
(df.isna().mean() * 100).round(2) #### предполагаем, что все столбцы нам нужны, можем анализировать по текущему кол-ву заполненных строк

surgery?                       0.33
Age                            0.00
rectal temperature            20.00
pulse                          8.00
respiratory rate              19.33
temperature of extremities    18.67
pain                          18.33
outcome                        0.33
dtype: float64

# 3. Базовые статистики

In [245]:
df.describe().round(2)

,surgery?,Age,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome
count,299.00,300.00,240.00,276.00,242.00,244.00,245.00,299.00
mean,1.40,1.64,38.17,71.91,30.42,2.35,2.95,1.55
std,0.49,2.17,0.73,28.63,17.64,1.05,1.31,0.74
min,1.00,1.00,35.40,30.00,8.00,1.00,1.00,1.00
25%,1.00,1.00,37.80,48.00,18.50,1.00,2.00,1.00
50%,1.00,1.00,38.20,64.00,24.50,3.00,3.00,1.00
75%,2.00,1.00,38.50,88.00,36.00,3.00,4.00,2.00
max,2.00,9.00,40.80,184.00,96.00,4.00,5.00,3.00

In [246]:
df.Age.mode()[0]

1

In [247]:
df['surgery?'].mode()[0]

1.0

In [248]:
df['rectal temperature'].mode()[0]

38.0

In [249]:
df['pulse'].mode()[0]

48.0

In [250]:
df['respiratory rate'].mode()[0]

20.0

In [251]:
df['temperature of extremities'].mode()[0]

3.0

In [252]:
df['pain'].mode()[0]

3.0

In [253]:
df['outcome'].mode()[0]

1.0

# 4. Проверяем корректность заполненных данных

#### сколько лошадей с некорректным значением по surgery?

In [254]:
df[df['surgery?'] > 2].count() # по условию значения от 0 до 2

surgery?                      0
Age                           0
rectal temperature            0
pulse                         0
respiratory rate              0
temperature of extremities    0
pain                          0
outcome                       0
dtype: int64

#### по возрасту?

In [255]:
df[df.Age > 2].count() # по условию значения от 0 до 2

surgery?                      24
Age                           24
rectal temperature            20
pulse                         22
respiratory rate              20
temperature of extremities    16
pain                          17
outcome                       24
dtype: int64

In [256]:
df[df.Age < 0].count() # по условию значения от 0 до 2

surgery?                      0
Age                           0
rectal temperature            0
pulse                         0
respiratory rate              0
temperature of extremities    0
pain                          0
outcome                       0
dtype: int64

In [257]:
def my_function(df):
    """
    заполним ненормальные (24) значения, в зависимости от среднего значения пульса
    """
    if df['Age'] > 2:
        if df['pulse'] > df['pulse'].mean():
            return 2
        else:
            return 1
    else:
        return df['Age']

df['new_age'] = df.apply(my_function, axis=1)
del df['Age']
df[df.new_age > 2].count()

surgery?                      0
rectal temperature            0
pulse                         0
respiratory rate              0
temperature of extremities    0
pain                          0
outcome                       0
new_age                       0
dtype: int64

#### сколько лошадей с некорректным значением температуры конечностей

In [258]:
df[df['temperature of extremities'] > 4].count() # по условию значения от 0 до 4

surgery?                      0
rectal temperature            0
pulse                         0
respiratory rate              0
temperature of extremities    0
pain                          0
outcome                       0
new_age                       0
dtype: int64

In [259]:
df[df['temperature of extremities'] < 0].count() # по условию значения от 0 до 4

surgery?                      0
rectal temperature            0
pulse                         0
respiratory rate              0
temperature of extremities    0
pain                          0
outcome                       0
new_age                       0
dtype: int64

#### проверим pain

In [260]:
df[df.pain > 5].count() # по условию значения от 0 до 5

surgery?                      0
rectal temperature            0
pulse                         0
respiratory rate              0
temperature of extremities    0
pain                          0
outcome                       0
new_age                       0
dtype: int64

In [261]:
df[df.pain < 0].count() # по условию значения от 0 до 5

surgery?                      0
rectal temperature            0
pulse                         0
respiratory rate              0
temperature of extremities    0
pain                          0
outcome                       0
new_age                       0
dtype: int64

#### проверим outcome

In [262]:
df[df.outcome > 3].count() # по условию значения от 0 до 3

surgery?                      0
rectal temperature            0
pulse                         0
respiratory rate              0
temperature of extremities    0
pain                          0
outcome                       0
new_age                       0
dtype: int64

In [263]:
df[df.outcome < 0].count() # по условию значения от 0 до 3

surgery?                      0
rectal temperature            0
pulse                         0
respiratory rate              0
temperature of extremities    0
pain                          0
outcome                       0
new_age                       0
dtype: int64

# 5. Проверяем выбросы по всем стобцам - удалить или изменить?

#### по surgery

In [264]:
q1 = df['surgery?'].quantile(0.25)
q3 = df['surgery?'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
result = df[df['surgery?'].between(lower_bound, upper_bound, inclusive=True)].sort_values('surgery?')
result

,surgery?,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome,new_age
299,1.0,37.2,40.0,20.0,NaN,NaN,3.0,1.0
128,1.0,37.4,84.0,20.0,NaN,2.0,3.0,1.0
129,1.0,38.4,49.0,NaN,NaN,NaN,1.0,1.0
130,1.0,37.8,30.0,12.0,NaN,NaN,2.0,1.0
242,1.0,NaN,36.0,32.0,1.0,5.0,2.0,1.0
...,...,...,...,...,...,...,...,...
147,2.0,38.0,44.0,12.0,2.0,3.0,2.0,1.0
149,2.0,38.7,48.0,24.0,NaN,1.0,1.0,1.0
153,2.0,38.6,48.0,20.0,3.0,1.0,1.0,1.0
93,2.0,NaN,NaN,NaN,3.0,5.0,2.0,1.0
150,2.0,38.9,44.0,14.0,3.0,2.0,1.0,1.0

In [265]:
# что это за выброс?
pd.concat([df, result]).drop_duplicates(keep=False)

,surgery?,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome,new_age
132,NaN,38.0,48.0,20.0,3.0,4.0,NaN,1.0

In [266]:
df.describe().round(4)

,surgery?,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome,new_age
count,299.0000,240.0000,276.0000,242.0000,244.0000,245.0000,299.0000,300.0
mean,1.3980,38.1679,71.9130,30.4174,2.3484,2.9510,1.5518,1.0
std,0.4903,0.7323,28.6306,17.6422,1.0451,1.3079,0.7372,0.0
min,1.0000,35.4000,30.0000,8.0000,1.0000,1.0000,1.0000,1.0
25%,1.0000,37.8000,48.0000,18.5000,1.0000,2.0000,1.0000,1.0
50%,1.0000,38.2000,64.0000,24.5000,3.0000,3.0000,1.0000,1.0
75%,2.0000,38.5000,88.0000,36.0000,3.0000,4.0000,2.0000,1.0
max,2.0000,40.8000,184.0000,96.0000,4.0000,5.0000,3.0000,1.0

In [267]:
df = df.drop(index=[132]) ### принимаем решение - удалить текущую строчку, с понимаем, что это изменит базовые статистики

In [301]:
df.describe().round(4)

,surgery?,rectal temperature,temperature of extremities,outcome,new_age,new_pulse,new_respiratory rate
count,299.0000,299.0000,299.0000,299.0000,299.0,299.0000,299.0000
mean,1.3980,38.1686,2.3457,1.5518,1.0,72.0000,28.4314
std,0.4903,0.6557,0.9429,0.7372,0.0,27.4685,16.3864
min,1.0000,35.4000,1.0000,1.0000,1.0,30.0000,8.0000
25%,1.0000,37.9000,1.0000,1.0000,1.0,48.5000,20.0000
50%,1.0000,38.1686,2.3457,1.0000,1.0,68.0000,22.0000
75%,2.0000,38.5000,3.0000,2.0000,1.0,88.0000,34.5000
max,2.0000,40.8000,4.0000,3.0000,1.0,184.0000,96.0000

In [269]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 299 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery?                    299 non-null    float64
 1   rectal temperature          239 non-null    float64
 2   pulse                       275 non-null    float64
 3   respiratory rate            241 non-null    float64
 4   temperature of extremities  243 non-null    float64
 5   pain                        244 non-null    float64
 6   outcome                     299 non-null    float64
 7   new_age                     299 non-null    float64
dtypes: float64(8)
memory usage: 21.0 KB

#### по rectal temperature

In [270]:
q1 = df['rectal temperature'].quantile(0.25)
q3 = df['rectal temperature'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
result = df[df['rectal temperature'].between(lower_bound, upper_bound, inclusive=True)].sort_values('rectal temperature')
result

,surgery?,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome,new_age
113,1.0,36.8,60.0,28.0,NaN,NaN,2.0,1.0
277,2.0,36.9,50.0,40.0,2.0,1.0,1.0,1.0
292,1.0,37.0,66.0,20.0,1.0,4.0,2.0,1.0
70,2.0,37.0,60.0,20.0,3.0,3.0,3.0,1.0
190,1.0,37.1,40.0,8.0,NaN,3.0,1.0,1.0
...,...,...,...,...,...,...,...,...
19,2.0,39.4,110.0,35.0,4.0,NaN,1.0,1.0
162,2.0,39.5,60.0,10.0,3.0,3.0,1.0,1.0
287,2.0,39.5,84.0,30.0,NaN,NaN,1.0,1.0
117,2.0,39.5,NaN,NaN,3.0,3.0,3.0,1.0
231,2.0,39.5,92.0,28.0,3.0,5.0,2.0,1.0

In [271]:
# что это за выброс?
pd.concat([df, result]).drop_duplicates(keep=False).count()

surgery?                      59
rectal temperature            14
pulse                         50
respiratory rate              39
temperature of extremities    51
pain                          50
outcome                       59
new_age                       59
dtype: int64

#### по pulse

In [272]:
q1 = df['pulse'].quantile(0.25)
q3 = df['pulse'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
result = df[df['pulse'].between(lower_bound, upper_bound, inclusive=True)].sort_values('pulse')
result

,surgery?,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome,new_age
130,1.0,37.8,30.0,12.0,NaN,NaN,2.0,1.0
232,1.0,38.5,30.0,18.0,NaN,NaN,1.0,1.0
203,2.0,37.2,36.0,9.0,1.0,2.0,1.0,1.0
276,1.0,38.0,36.0,16.0,3.0,4.0,3.0,1.0
242,1.0,NaN,36.0,32.0,1.0,5.0,2.0,1.0
...,...,...,...,...,...,...,...,...
148,1.0,38.3,132.0,NaN,NaN,2.0,1.0,1.0
135,1.0,38.1,136.0,48.0,3.0,5.0,2.0,1.0
44,1.0,35.4,140.0,24.0,3.0,4.0,3.0,1.0
103,1.0,38.0,140.0,68.0,1.0,3.0,1.0,1.0
39,1.0,39.2,146.0,96.0,NaN,NaN,2.0,1.0

In [273]:
# что это за выброс?
pd.concat([df, result]).drop_duplicates(keep=False).sort_values('pulse')

,surgery?,rectal temperature,pulse,respiratory rate,temperature of extremities,pain,outcome,new_age
41,2.0,39.0,150.0,72.0,NaN,NaN,1.0,1.0
275,1.0,38.8,150.0,50.0,1.0,5.0,2.0,1.0
55,1.0,38.6,160.0,20.0,3.0,3.0,2.0,1.0
3,1.0,39.1,164.0,84.0,4.0,2.0,2.0,1.0
255,1.0,38.8,184.0,84.0,1.0,4.0,2.0,1.0
5,2.0,NaN,NaN,NaN,2.0,2.0,1.0,1.0
52,2.0,NaN,NaN,NaN,1.0,1.0,1.0,1.0
58,1.0,NaN,NaN,20.0,4.0,5.0,2.0,1.0
93,2.0,NaN,NaN,NaN,3.0,5.0,2.0,1.0
115,2.0,NaN,NaN,40.0,3.0,3.0,1.0,1.0
117,2.0,39.5,NaN,NaN,3.0,3.0,3.0,1.0
126,1.0,38.7,NaN,NaN,3.0,5.0,1.0,1.0
151,1.0,39.3,NaN,NaN,4.0,4.0,2.0,1.0
159,2.0,NaN,NaN,12.0,1.0,2.0,1.0,1.0
160,1.0,NaN,NaN,NaN,NaN,4.0,1.0,1.0
174,2.0,NaN,NaN,NaN,3.0,4.0,2.0,1.0
204,1.0,39.2,NaN,23.0,3.0,4.0,1.0,1.0
216,2.0,NaN,NaN,NaN,NaN,NaN,1.0,1.0

In [274]:
def my_function(df):
    """
    заменим текущие 5 значений выбросов - на среднее арифметическое
    """
    if df['pulse'] >= 150:
        return df['pulse'].mean()
    else:
        return df['pulse']

df['new_pulse'] = df.apply(my_function, axis=1)
del df['pulse']
df[df.new_pulse > 150].count()

surgery?                      3
rectal temperature            3
respiratory rate              3
temperature of extremities    3
pain                          3
outcome                       3
new_age                       3
new_pulse                     3
dtype: int64

In [275]:
df.head(10).sort_values('new_pulse', ascending=False) ### почему не заменилось 164?

,surgery?,rectal temperature,respiratory rate,temperature of extremities,pain,outcome,new_age,new_pulse
3,1.0,39.1,84.0,4.0,2.0,2.0,1.0,164.0
4,2.0,37.3,35.0,NaN,NaN,2.0,1.0,104.0
9,2.0,38.3,NaN,1.0,5.0,1.0,1.0,90.0
1,1.0,39.2,20.0,NaN,3.0,3.0,1.0,88.0
8,2.0,NaN,36.0,3.0,4.0,3.0,1.0,80.0
0,2.0,38.5,28.0,3.0,5.0,2.0,1.0,66.0
7,1.0,NaN,NaN,3.0,NaN,2.0,1.0,60.0
6,1.0,37.9,16.0,1.0,3.0,1.0,1.0,48.0
2,2.0,38.3,24.0,1.0,3.0,1.0,1.0,40.0
5,2.0,NaN,NaN,2.0,2.0,1.0,1.0,NaN

#### по respiratory rate

In [276]:
q1 = df['respiratory rate'].quantile(0.25)
q3 = df['respiratory rate'].quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
result = df[df['respiratory rate'].between(lower_bound, upper_bound, inclusive=True)].sort_values('respiratory rate')
result

,surgery?,rectal temperature,respiratory rate,temperature of extremities,pain,outcome,new_age,new_pulse
190,1.0,37.1,8.0,NaN,3.0,1.0,1.0,40.0
203,2.0,37.2,9.0,1.0,2.0,1.0,1.0,36.0
140,1.0,38.1,9.0,3.0,2.0,1.0,1.0,44.0
162,2.0,39.5,10.0,3.0,3.0,1.0,1.0,60.0
209,2.0,37.5,10.0,3.0,3.0,1.0,1.0,44.0
...,...,...,...,...,...,...,...,...
220,1.0,39.2,58.0,4.0,5.0,3.0,1.0,88.0
20,1.0,39.9,60.0,1.0,5.0,1.0,1.0,72.0
23,1.0,38.3,60.0,NaN,2.0,1.0,1.0,130.0
185,1.0,38.5,60.0,4.0,NaN,1.0,1.0,120.0
248,1.0,38.0,60.0,2.0,4.0,1.0,1.0,108.0

In [277]:
# что это за выброс?
pd.concat([df, result]).drop_duplicates(keep=False).sort_values('respiratory rate')

,surgery?,rectal temperature,respiratory rate,temperature of extremities,pain,outcome,new_age,new_pulse
120,1.0,39.4,66.0,1.0,2.0,1.0,1.0,54.0
103,1.0,38.0,68.0,1.0,3.0,1.0,1.0,140.0
125,1.0,38.0,68.0,4.0,3.0,1.0,1.0,42.0
265,2.0,NaN,68.0,3.0,3.0,3.0,1.0,56.0
229,1.0,38.5,70.0,NaN,NaN,1.0,1.0,120.0
295,1.0,NaN,70.0,4.0,2.0,3.0,1.0,120.0
41,2.0,39.0,72.0,NaN,NaN,1.0,1.0,150.0
82,1.0,38.1,80.0,3.0,3.0,1.0,1.0,100.0
84,1.0,37.8,80.0,1.0,2.0,1.0,1.0,60.0
208,1.0,37.8,80.0,3.0,NaN,3.0,1.0,88.0
3,1.0,39.1,84.0,4.0,2.0,2.0,1.0,164.0
255,1.0,38.8,84.0,1.0,4.0,2.0,1.0,184.0
244,1.0,38.2,88.0,1.0,2.0,1.0,1.0,124.0
39,1.0,39.2,96.0,NaN,NaN,2.0,1.0,146.0
106,1.0,38.3,96.0,NaN,NaN,1.0,1.0,52.0
5,2.0,NaN,NaN,2.0,2.0,1.0,1.0,NaN
7,1.0,NaN,NaN,3.0,NaN,2.0,1.0,60.0
9,2.0,38.3,NaN,1.0,5.0,1.0,1.0,90.0
29,2.0,37.7,NaN,2.0,1.0,1.0,1.0,48.0
32,1.0,37.2,NaN,2.0,3.0,1.0,1.0,60.0
37,1.0,37.8,NaN,NaN,5.0,1.0,1.0,72.0
38,2.0,38.6,NaN,1.0,3.0,1.0,1.0,52.0
40,1.0,NaN,NaN,3.0,5.0,2.0,1.0,88.0
43,1.0,NaN,NaN,3.0,4.0,3.0,1.0,120.0
45,2.0,NaN,NaN,4.0,5.0,2.0,1.0,120.0
50,2.0,38.6,NaN,1.0,1.0,1.0,1.0,46.0
52,2.0,NaN,NaN,1.0,1.0,1.0,1.0,NaN
61,2.0,38.5,NaN,2.0,1.0,1.0,1.0,60.0
66,2.0,37.9,NaN,1.0,3.0,1.0,1.0,72.0
72,1.0,37.7,NaN,NaN,NaN,2.0,1.0,56.0
75,1.0,39.7,NaN,3.0,2.0,3.0,1.0,100.0
81,1.0,37.3,NaN,NaN,2.0,1.0,1.0,40.0
93,2.0,NaN,NaN,3.0,5.0,2.0,1.0,NaN
112,1.0,NaN,NaN,2.0,1.0,1.0,1.0,40.0
117,2.0,39.5,NaN,3.0,3.0,3.0,1.0,NaN
126,1.0,38.7,NaN,3.0,5.0,1.0,1.0,NaN
129,1.0,38.4,NaN,NaN,NaN,1.0,1.0,49.0
134,1.0,NaN,NaN,3.0,5.0,2.0,1.0,100.0
137,1.0,38.0,NaN,1.0,1.0,1.0,1.0,48.0
138,2.0,38.0,NaN,1.0,1.0,1.0,1.0,56.0
142,1.0,NaN,NaN,4.0,5.0,2.0,1.0,120.0
146,1.0,38.2,NaN,1.0,3.0,1.0,1.0,48.0
148,1.0,38.3,NaN,NaN,2.0,1.0,1.0,132.0
151,1.0,39.3,NaN,4.0,4.0,2.0,1.0,NaN
152,1.0,NaN,NaN,3.0,NaN,1.0,1.0,100.0
160,1.0,NaN,NaN,NaN,4.0,1.0,1.0,NaN
164,1.0,38.7,NaN,1.0,3.0,1.0,1.0,76.0
173,1.0,NaN,NaN,3.0,2.0,2.0,1.0,104.0
174,2.0,NaN,NaN,3.0,4.0,2.0,1.0,NaN
188,1.0,38.5,NaN,1.0,NaN,1.0,1.0,60.0
201,1.0,38.5,NaN,1.0,4.0,2.0,1.0,86.0
216,2.0,NaN,NaN,NaN,NaN,1.0,1.0,NaN
238,2.0,36.1,NaN,3.0,3.0,3.0,1.0,88.0
249,2.0,38.2,NaN,2.0,3.0,1.0,1.0,48.0
254,1.0,NaN,NaN,3.0,4.0,1.0,1.0,80.0
256,1.0,37.5,NaN,2.0,2.0,3.0,1.0,72.0
271,1.0,37.7,NaN,3.0,5.0,1.0,1.0,80.0
274,1.0,NaN,NaN,NaN,NaN,3.0,1.0,76.0
281,2.0,40.0,NaN,3.0,2.0,2.0,1.0,78.0
284,2.0,38.5,NaN,1.0,3.0,1.0,1.0,54.0

In [278]:
def my_function(df):
    """
    т.к. полезность сомнительна из-за больших колебаний, заменим - на среднее арифметическое
    """
    if df['respiratory rate'] >= 66:
        return df['respiratory rate'].mean()
    else:
        return df['respiratory rate']

df['new_respiratory rate'] = df.apply(my_function, axis=1)
del df['respiratory rate']
df[df['new_respiratory rate'] > 66].count()

surgery?                      16
rectal temperature            14
temperature of extremities    12
pain                           9
outcome                       16
new_age                       16
new_pulse                     16
new_respiratory rate          16
dtype: int64

# Заполним пропуски

In [279]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 299 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery?                    299 non-null    float64
 1   rectal temperature          239 non-null    float64
 2   temperature of extremities  243 non-null    float64
 3   pain                        244 non-null    float64
 4   outcome                     299 non-null    float64
 5   new_age                     299 non-null    float64
 6   new_pulse                   275 non-null    float64
 7   new_respiratory rate        241 non-null    float64
dtypes: float64(8)
memory usage: 21.0 KB

In [280]:
# предположим, мы хотим удалить только те строки, в которых как минимум 7/8 значений заполнено
df.dropna(thresh=7).info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 231 entries, 0 to 298
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery?                    231 non-null    float64
 1   rectal temperature          208 non-null    float64
 2   temperature of extremities  216 non-null    float64
 3   pain                        216 non-null    float64
 4   outcome                     231 non-null    float64
 5   new_age                     231 non-null    float64
 6   new_pulse                   228 non-null    float64
 7   new_respiratory rate        210 non-null    float64
dtypes: float64(8)
memory usage: 16.2 KB

In [285]:
df['rectal temperature'].fillna(df['rectal temperature'].mean(), inplace=True)
df['rectal temperature'].fillna(df['rectal temperature'].mean()).isna().sum()

0

In [287]:
df['new_respiratory rate'].fillna(df['new_respiratory rate'].mode()[0], inplace=True)
df['new_respiratory rate'].value_counts()

20.0    85
24.0    27
16.0    22
12.0    19
30.0    19
40.0    17
36.0    16
28.0    13
32.0    11
18.0     8
48.0     6
14.0     4
60.0     4
35.0     3
68.0     3
10.0     3
80.0     3
44.0     3
42.0     3
90.0     2
84.0     2
70.0     2
21.0     2
96.0     2
22.0     2
51.0     2
9.0      2
50.0     2
72.0     1
23.0     1
15.0     1
34.0     1
25.0     1
8.0      1
52.0     1
58.0     1
13.0     1
66.0     1
26.0     1
88.0     1
Name: new_respiratory rate, dtype: int64

In [300]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 299 entries, 0 to 299
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   surgery?                    299 non-null    float64
 1   rectal temperature          299 non-null    float64
 2   temperature of extremities  299 non-null    float64
 3   pain                        299 non-null    object
 4   outcome                     299 non-null    float64
 5   new_age                     299 non-null    float64
 6   new_pulse                   299 non-null    float64
 7   new_respiratory rate        299 non-null    float64
dtypes: float64(7), object(1)
memory usage: 21.0+ KB

In [289]:
df['pain'].fillna('no_info', inplace=True) # НЕ следует рассматривать как упорядоченную или дискретную переменную!

In [291]:
df['new_respiratory rate'].fillna(df['new_respiratory rate'].mean(), inplace=True) # полезность сомнительна из-за больших колебаний
df['new_respiratory rate'].fillna(df['new_respiratory rate'].mean()).isna().sum()

0

In [297]:
df['temperature of extremities'].fillna(df['temperature of extremities'].mean(), inplace=True)
df['temperature of extremities'].fillna(df['temperature of extremities'].mean()).isna().sum()

0

In [299]:
df['new_pulse'].fillna(df['new_pulse'].mean(), inplace=True)
df['new_pulse'].fillna(df['new_pulse'].mean()).isna().sum()

0